.anim {
    color:rgba(0, 0, 0, 0.933);
    font-size: 0.9em;
    text-shadow: 2px 2px 4px white; 
    margin-top: 0px;
    
}

.dark_anim {
    color: aliceblue;
}

#dark {
    color: aliceblue;
}


