.footer {
  background: #1f1f1f;
  min-height: 40px;
  width: 100%;
  overflow: hidden;
  font-size: 4px;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.h2 {
  font-size: 3em;
  background: none;
  color: white;
}

.logo {
  height: 50%;
  animation: none;
  border-radius: 10px;
  margin: 10px;
  border-color: white;
  border-width: 2px;
  border-style: solid;
}

.fig {
  display: flex;
  flex-direction: row;
}
